.sidebar {
	width: 210px;
	display: inline-block;
}

.intro-text {
	font-family: montserrat;
	size: 12px;
	padding-left: 8px;
}

.content {
	width: 600px;
	float: right;
	padding: 0 0 0 96px;
	font-family: montserrat;
	font-size: 24px;
}

.container {
	margin: 48px;
	width: 810px;
}

.title {
	position: absolute;
	bottom: 8px;
	right: 8px;
	color: white;
	padding: 2px;
	font-weight: bold;
	text-align:right;
}

.image {
	position: relative;
	width: 500px;
}

.description {
	font-size: 12px;
}