body {
}

div {
	width: 30%;
	border: 3px black;
	padding: 10px;
	margin-top:10%;
	margin-left:10%;

}

ul {
	list-style-type: none;
	margin-left: 10%;
	padding: 10px;
	width: 20%;


}

li a {
	display: block;
}

li a:hover {
	background-color: #efefef;
}

h1 {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}

h2 {
	text-align: center;
	font-family: times;
	font-size: 5px;
}
