body {
}

.container {
	width: 100%;
	border: 3px black;
	padding: 10px;
	margin: auto;
	align-content: center;

}

ul {
	list-style-type: none;
	padding: 10px;
	width: 100%;
	align-content: center;


}

.photo {
	width: 500px;
	padding 20px;
	align-content: center;

li a {
	display: block;
}

li a:hover {
	background-color: #efefef;
}

h1 {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}

h2 {
	text-align: center;
	font-family: times;
	font-size: 10px;
}
