.section-title {
    font-family: Houston;
    color: var(--coral);
    text-align: center;
    font-size: 24px;
    padding: 50px;
}

.intro {
    font-family: Tenor;
    color:var(--coral);
    text-align: left;
    font-size: 42px;
    padding-top: 500px;
}
.page {
    padding: 100px;
    background-color: var(--bg-pink);
}

.verticle-line {
    border-left: 6px solid var(--navy);
    margin-left: -3px;
    position: relative;

}

.center {
    align-items: center;
    text-align: center;
}

.table-title {
    font-family: Tenor;
    color: var(--coral);
    font-size: 36px;
    width: 50%;
    text-align: right;
}

.table-subtitle {
    font-family: Tenor;
    color: var(--navy);
    font-size: 16px;
    margin-top: 20px;
    line-height: 12px;
}

.table-description {
    color: var(--navy);
    font-size: 16px; 
    padding: 0px;
}

.project-description {
    border-left: 6px solid var(--navy);
    padding:20px;
    min-height:100px;
    max-width: 500px;
}

.job-position {
    font-family: Tenor;
    color: var(--navy);
    text-align: right;
    font-style: italic;
}

.job {
    padding-bottom: 100px;
}

.no-job {
    margin-top: -100px;
}

.project {
    padding: 10px 0;
}