.navtitle {
    font-family: Houston;
    color: var(--coral);
    text-align: center;
    font-size: 24px;
}

.nav-link {
    font-family: Houston;
    color: var(--coral) !important;
}

.underline {
    text-decoration: underline dotted var(--highlight-coral);
}