@import './styles/Main.css';

:root {
  --coral: #d4420b; 
  --bg-pink: #fff2ed;
  --navy: rgb(2, 78, 114);
  --highlight-coral: #F5A38F;
}

@font-face {
  font-family: Houston;
  src: url('styles/fonts/Houston-Serif.otf');
}

@font-face {
  font-family: Tenor;
  src: url('styles/fonts/TenorSans-Regular.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-pink) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inline-link:link, .inline-link:visited {
  color: var(--coral) !important;
  text-decoration: underline dotted;
}

.inline-link:hover {
  text-decoration: underline dotted !important;
  color: var(--highlight-coral) !important;
}

tr {
  height: 200px;
}
